[user]
	email = matsuge0727@icloud.com
	name = matsugeEX
[credential]
	helper = "!f() { /home/node/.vscode-server/bin/f6cfa2ea2403534de03f069bdf160d06451ed282/node /tmp/vscode-remote-containers-714cfa67-9e8b-4ba3-95b4-168f1b629079.js git-credential-helper $*; }; f"
